<h1 mat-dialog-title>Adicionar Produto</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field id="form-field-dialog" appearance="outline">
      <mat-label>Nome</mat-label>
      <input formControlName="productName" matInput placeholder="Nome" />
    </mat-form-field>
    <mat-form-field id="form-field-dialog" appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category">
        <mat-option value="Frutas">Frutas</mat-option>
        <mat-option value="Vegetais">Vegetais</mat-option>
        <mat-option value="Carnes">Carnes</mat-option>
        <mat-option value="Banho">Banho</mat-option>
        <mat-option value="Cozinha">Cozinha</mat-option>
        <mat-option value="Eletronicos">Eletrônicos</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field id="form-field-dialog" appearance="outline">
      <mat-label>Escolha uma data</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label for=""><h1 style="margin-top: 1rem">Estado do Produto</h1></label>
    <mat-radio-group class="example-radio-group" formControlName="freshness">
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let estado of listaEstado"
        [value]="estado"
      >
        {{ estado }}
      </mat-radio-button>
    </mat-radio-group>
    <mat-form-field id="form-field-dialog" appearance="outline">
      <mat-label>Preço</mat-label>
      <input
        matInput
        placeholder="Preço"
        type="number"
        formControlName="price"
      />
    </mat-form-field>
    <mat-form-field id="form-field-dialog" appearance="outline">
      <mat-label>Comentário</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
  <button mat-raised-button color="primary" (click)="addProduct()" >{{actionBtn}}</button>
</div>
